:root {
    --mainBlue: #101d2c;
    --transparentBlue: #101d2c93;
    --mainBlack: #292f36;
    --mainGrey: #aaa;
    --mainGold: #c69963;
    --secondGold: #B28451;
}

body {
    font-family: "Raleway", sans-serif;
    color: var(--mainBlack);
}

/* Navbar */
.navbar-toggler {
    outline-color: var(--mainBlue) !important;
}

.navbar-icon {
    font-size: 2rem;
    color: var(--mainBlue);
}

.nav-link {
    color: var(--mainBlack);
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--mainBlue);
}

.nav-icon {
    font-size: 1.5rem;
    color: var(--mainBlue);
    text-decoration: none;
    transition: all .3s;
}

.nav-icon:hover {
    color: var(--mainBlack);
    text-decoration: none;
}

/* header */
.header {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    color: #fff;
    overflow: hidden;
}

.height-max {
    min-height: calc(100vh - 76px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)), url("../img/headerBcg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation-name: zoom;
    animation-duration: 20s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2) translateX(-7%);
    }
    100% {
        transform: scale(1);
    }
}

.title-heading {
    background: rgba(0, 0, 0, 0.4);
    border-left: 0.3rem solid var(--mainGold);
}

.title {
    font-weight: 300;
    font-size: 1.9rem;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 3rem;
    }
}

.title-icon {
    color: var(--mainGold);
    text-decoration: none !important;
    transition: all .3s;
}

.title-icon:hover {
    color: var(--secondGold);
}